<footer class="footer">
  <div class="footer-content">

    <div class="brand">
      <h3>GameVerse</h3>
      <p>Modern Gaming Store Platform</p>
    </div>

    <div class="developers">
      <h4>Developed By</h4>
      <ul>
        <li>
          Rabia Shaier –
          <a href="mailto:rabiashair7@gmail.com">rabiashair7@gmail.com</a>
           <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>

        </li>

        <li>
          Noor Alden Sabtan –
          <a href="mailto:noorsabtan73@gmail.com">noorsabtan73@gmail.com</a>
           <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>

        </li>

        <li>
          Mohmad Sarhan –
          <a href="mailto:mhmsrh198@gmail.com">mhmsrh198@gmail.com</a>
           <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>
        </li>
      </ul>
    </div>

  </div>

  <div class="footer-bottom">
    © 2025 GameVerse. All rights reserved.
  </div>
</footer>
