<div class="login-wrapper">
  <div class="login-box">

    <h2 class="title">Welcome back</h2>
    <p class="subtitle">Login to your GameVerse account</p>

    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <!-- USERNAME -->
      <div class="input-group">
        <input
          type="text"
          formControlName="username"
          required
        />
        <label>Username</label>
      </div>

      <!-- PASSWORD -->
      <div class="input-group">
        <input
          type="password"
          formControlName="password"
          required
        />
        <label>Password</label>
      </div>

      <div class="error" *ngIf="error">
        {{ error }}
      </div>

      <button type="submit" class="login-btn">
        Login
      </button>

    </form>

  </div>
</div>
