<div class="container mt-5">
  <div class="card p-4 shadow mx-auto" style="max-width: 420px;">

    <h3 class="text-center mb-4">Login</h3>

    <form (ngSubmit)="login()">

      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        class="form-control mb-3"
        placeholder="Email"
        required
      >

      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        class="form-control mb-2"
        placeholder="Password"
        required
      >

      <div class="text-danger mb-2">{{ error }}</div>

      <button class="btn btn-primary w-100">
        Login
      </button>

      <div class="text-center mt-3">
        <span class="text-muted">Don’t have an account?</span>
        <a routerLink="/register" class="fw-bold ms-1">Register</a>
      </div>

    </form>

  </div>
</div>
