.admin-container {
  padding: 30px;
  color: white;
}

.add-game input {
  margin-right: 10px;
  padding: 6px;
}

table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #555;
  padding: 10px;
  text-align: center;
}
