<app-navbar></app-navbar>

<div class="catalog-wrapper">

  <!-- LEFT SIDEBAR -->
  <aside class="catalog-sidebar card">
    <h5>Categories</h5>

    <a routerLink="/category/action">Action</a>
    <a routerLink="/category/adventure">Adventure</a>
    <a routerLink="/category/sports">Sports</a>
    <a routerLink="/category/rpg">RPG</a>
    <a routerLink="/category/racing">Racing</a>
    <a routerLink="/category/strategy">Strategy</a>
    <a routerLink="/category/open-world">Open World</a>
  </aside>

  <!-- RIGHT CONTENT -->
  <main class="catalog-content">
    <app-games></app-games>
  </main>

</div>
