<header class="top-navbar"> 
  <div class="left">
    <span class="logo">🎮 GameVerse</span>

    <nav class="links">
      <a routerLink="/home" routerLinkActive="active">Store</a>
      <a routerLink="/about" routerLinkActive="active">About Us</a>

      
      <a
        *ngIf="userService.isLoggedIn() && userService.getCurrentUser()?.isAdmin()"
        routerLink="/admin"
        routerLinkActive="active"
      >
        Admin
      </a>
    </nav>
  </div>

  <div class="right">
    <!-- Theme -->
    <button class="theme-btn" (click)="toggleTheme()">
      {{ userService.isDarkMode() ? '☀️' : '🌙' }}
    </button>

 
    <div
      *ngIf="userService.isLoggedIn() && avatarSrc"
      class="navbar-avatar-wrapper"
    >
      <img
        [src]="avatarSrc"
        class="navbar-avatar"
        (click)="toggleDropdown()"
      >

      <span
        *ngIf="userService.getCurrentUser()?.isAdmin()"
        class="admin-badge"
      >
        ADMIN
      </span>

      <div class="profile-dropdown" *ngIf="dropdownOpen">
        <button (click)="goToProfile()">Profile</button>
        <button (click)="logout()">Logout</button>
      </div>
    </div>


    <a *ngIf="!userService.isLoggedIn()" routerLink="/login" class="login">
      Login
    </a>
  </div>
</header>
