<header class="top-navbar">
  <!-- LEFT -->
  <div class="left">
    <div class="logo">
      <span>🎮 GameVerse</span>
    </div>

    <nav class="links">
      <a routerLink="/home" routerLinkActive="active">Store</a>
      <a routerLink="/library" routerLinkActive="active">Library</a>
      <a routerLink="/profile" routerLinkActive="active">Profile</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
    </nav>
  </div>

  <!-- RIGHT -->
  <div class="right">
    <button class="theme-btn" (click)="toggleTheme()">
      {{ userService.isDarkMode() ? '☀️' : '🌙' }}
    </button>

    <a routerLink="/login" class="auth">Login / Sign Up</a>
  </div>
</header>
